.summary-container {
    background-color: #F9F7F7; 
    border-radius: 0.5rem; 
    border: 1px solid #DBE2EF; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    font-family: 'Salesforce Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.decorative-circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.1; 
    z-index: 0; 
}

.circle-1 {
    width: 250px;
    height: 250px;
    background-color: #3F72AF; 
    top: -120px;
    right: -100px;
}

.circle-2 {
    width: 180px;
    height: 180px;
    background-color: #DBE2EF; 
    bottom: -90px;
    left: -75px;
}

.circle-3 {
    width: 70px;
    height: 70px;
    background-color: #3F72AF;
    bottom: 20px;
    right: 40px;
    opacity: 0.05;
}


.summary-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
}

.icon-wrapper {
    flex-shrink: 0; 
    margin-right: 1.25rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3F72AF; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(63, 114, 175, 0.3);
}

.header-icon {
    --sds-c-icon-color-foreground: #F9F7F7; 
}

.summary-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #112D4E; 
    margin: 0;
}


.summary-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    position: relative;
    z-index: 1;
}

.content-inner {
    color: #112D4E; 
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.9; 
}


lightning-output-field {
    display: block;
}


.summary-footer {
    position: relative; 
    z-index: 1;
}

.footer-accent {
    width: 100%;
    height: 6px;
    background: #112D4E; 
}

@media (max-width: 480px) {
    .summary-header {
        padding: 1rem;
    }

    .icon-wrapper {
        width: 40px; 
        height: 40px;
        margin-right: 0.75rem;
    }

    .summary-title {
        font-size: 1.3rem; 
    }

    .summary-content {
        padding: 0 1rem 1rem 1rem; 
    }

    .content-inner {
        font-size: 0.95rem;
    }

   
    .circle-1 {
        width: 150px;
        height: 150px;
        top: -75px;
        right: -75px;
    }

    .circle-2 {
        width: 100px;
        height: 100px;
        bottom: -50px;
        left: -50px;
    }

    .circle-3 {
        display: none; 
    }
}